body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

.form-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    background: linear-gradient(90deg, #bb86fc, #03dac6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

form {
    background-color: rgba(28, 28, 28, 0.95);
    padding: 23px;
    border-radius: 12px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.8);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

label {
    font-size: 1.2rem;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #e0e0e0;
    margin-left: 1rem;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

input:focus {
    outline: none;
    border: 2px solid #bb86fc;
}

button {
    background: linear-gradient(90deg, #bb86fc, #03dac6);
    color: #121212;
    padding: 15px 40px;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 6px 20px rgba(187, 134, 252, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(187, 134, 252, 0.8);
}
